* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.container {
	margin: 50px auto;
	width: 75vw;
	height: 100vh;
	/* padding: 1rem; */
	font-family: "Mouse Memoirs", sans-serif;
	
}

/* Add styles for the hamster list */
.hamsterList {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	text-align: center;
}

/* Add styles for each hamster item */
.hamsterItem {
	margin-bottom: 1rem;
	text-align: center;
	padding: 20px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgb(208, 204, 204);
	box-shadow: 0 4px 8px rgba(212, 201, 201, 0.1);
	/* transition: box-shadow 0.3s; */
}

.hamsterItem:hover {
	box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  }

h3 {
	font-size: 1.8rem;
	margin-bottom: 10px;
}

p {
	font-size: 1.2rem;
	color: #666;
	line-height: 1.6;
}

.hamsters {
	margin: 0.5rem 0 1rem 0;
	width: 25rem;
	border-radius: 3%;
}

.hamsterImage {
	width: 25rem;
	border-radius: 3%;
	margin-bottom: 1rem;

}

.buttonOne {
	padding: 10px;
	width: 150px;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	margin: 1rem;
	background-color: #009578;
  color: #fff;
  }

  .buttonOne:hover {
	background-color: #006d55;
  }
  
  /* Active state */
  .buttonOne:active {
	background-color: #00423b; 
  }


/* Media Query for screens up to 767px (mobile) */
@media (max-width: 767px) {

	.hamsterImage {
		max-width: 15rem;
		max-height: 21rem;
		
	}

}

