*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.hamsters-title {
    text-align: center;
    letter-spacing: 2px;
    font-size: 42px;
    font-family: "Mouse Memoirs", sans-serif;
    padding-bottom: 30px;
}

.hamsters-container{
    height: 100vh;
    background-color: rgb(208, 247, 247);
    display: flex;
    padding: 0 50px;
}

.hamsters-ul{
    flex-direction: column;
}

h3 {
    font-size: 32px;
    margin-bottom: 7px;
}


p{
    font-size: 22px;
    margin-bottom: 50px;
}
