
.aboutSection {
	padding: 80px;
	text-align: center;
}
.aboutHeading {
	font-size: 28px;
	color: #333;
	margin-bottom: 20px;
}
.aboutContent {
	font-size: 18px;
	color: #666;
	line-height: 1.6;
	padding: 10px;
}

.aboutImage  {
    width: 30rem;
    height: 25rem;
    margin-bottom: 20px;
    border-radius: 3%;
}
