

.donateSection {
	padding: 80px;
	text-align: center;
}
.donateHeading {
	font-size: 28px;
	color: #333;
	margin-bottom: 20px;
}
.donateContent {
	font-size: 18px;
	color: #666;
	line-height: 1.6;
	padding: 10px;
}


.donateImage  {
    width: 30rem;
    height: 25rem;
    margin-bottom: 20px;
    border-radius: 3%;
}

.paragraph {
    margin-top: 10px;
  }

  
