.navbarContainer {
    min-height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f4f4;
    padding: 0 10px; /* Adjust padding as needed */
    overflow: hidden; /* Hide any overflowing content */
    margin-bottom: 7%;
}

.hamsterLogo {
	position: relative;
	height: 80px;
}

ul li a {
	color: #4f4d58;
}

ul li a:hover {
	color: #eeaa4a;
}

ul li a.active {
	color: #00a8ff;
}

a {
	text-decoration: none;
}

.leftNav {
	display: flex;
	align-items: center;
	color: #4f4d58;
	font-size: 24px;
	margin-top: 6px;
	font-family: "Mouse Memoirs", sans-serif;
	/* gap: 10px; */
}

.navUl {
	gap: 16px;
	margin-right: 2rem;
}

ul {
	list-style: none;
	display: flex;
	padding: 18px 0 0;
	height: 50px;
}

li {
	font-family: "Mouse Memoirs", sans-serif;
	font-size: 19px;
}


@media (max-width: 767px) {
    .navbarContainer {
        flex-direction: column; /* Stack items vertically */
        align-items: flex-start; /* Align items to the left */
        padding: 10px; /* Add more padding for better spacing */
    }
    
    .leftNav {
        font-size: 18px; /* Adjust font size for smaller screens */
        margin-top: 10px; /* Increase top margin */
    }
    
    .navUl {
        margin-top: 10px; /* Add spacing between logo and navigation links */
    }
    
    ul {
        padding: 10px 0 0; /* Adjust padding for smaller screens */
        height: auto; /* Allow list to grow based on content */
    }
    
    li {
        font-size: 16px; /* Adjust font size for smaller screens */
    }
}