.navbarContainer {
	min-height: 80px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #f7f4f4;
	padding: 0 10px;
	overflow: hidden;
}

.hamsterLogo {
	position: relative;
	height: 80px;
}
.heading {
	margin-left: 20px;
}

ul li a {
	color: #4f4d58;
}

ul li a:hover {
	color: #eeaa4a;
}

ul li a.active {
	color: #00a8ff;
}

a {
	text-decoration: none;
}

.leftNav {
	display: flex;
	align-items: center;
	color: #4f4d58;
	font-size: 24px;
	margin-top: 6px;
	font-family: "Mouse Memoirs", sans-serif;
	/* gap: 10px; */
}

.navUl {
	gap: 6px;
	margin-right: 1rem;
}

ul {
	list-style: none;
	display: flex;
	/* padding: 18px 0 0; */
	height: 60px;
}

li {
	font-size: 19px;
}

button {
	width: 100px;
	border: none;
	padding: 8px 0;
	font-size: 1rem;
	margin-top: 1rem;
	background-color: transparent;
}

.donateButton {
	padding: 8px 6px;
	border: none;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	margin: 1rem;
	background-color: #009578;
	color: #fff;
}

.donateButton:hover {
	background-color: #006d55;
}

/* Active state */
.donateButton:active {
	background-color: #00423b;
}

@media (max-width: 767px) {
	.navbarContainer {
		flex-direction: column;
		align-items: flex-start;
	}

	.hamsterLogo {
		height: 60px;
	}

	.heading {
		font-size: 23px;
	}

	.navUl {
		gap: 0;
	}

    .leftNav {
        margin-top: 5%;
    }
}
